/* the styles for the elements */
*{
    margin:0;
    padding:0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 99%;
    max-width: 960px;
    margin: 0 auto;
    border:3px solid #931420;
    background-color: #fffded;


}

html{
    background-color: white;
}
/* the styles for the header */
header{
    border-bottom: 3px solid #931420;
    padding-top:1.5em;
    padding-bottom: 2em;
    background-image:
            linear-gradient(30deg,#f6bb73 0%, #f6bb73 10%, white 20%, white 80%, #f6bb73 90%, #f6bb73 100%);
}
header img {
    float: left;
    padding-right:3.75%;
    padding-left: 3.75%;
}

header h2{
    font-size: 170%;
    color: #800000;

}

header h3{
    font-size: 130%;
    font-style: italic;


}
/* the styles for the section */
main {
    clear: left;
}

h1{
    font-size: 150%;
    padding-top: 0.5em;
    padding-bottom: .25em;
    margin: 0;

}

main section h2{
    font-size: 130%;
    color: #800000;
    padding-top:.5em;
    padding-bottom:.25em;
}

main aside h2{
    font-size: 130%;
    color: #800000;
    padding-top:.5em;
    padding-bottom:.25em;
}

main aside h3{
    font-size: 105%;
    padding-bottom: .25em;
    color:black;
}
main aside img{
    padding-bottom: 1em;
}

main section p{
    padding-bottom: .5em;
}
main section blockquote{
    padding-right: 2em;
    padding-left: 2em;
    font-style: italic;
}

main article{
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    border-top: 3px solid #800000;
    border-bottom: 3px solid #800000;
}
main article img{
    float:right;
    margin: .5em 0 1em 1em;
    border: 1px solid black;
    max-width: 40%;
    min-width: 150px;
}

main article h2{
    padding-top: 0;
}

main article h3{
    font-size: 105%;
    padding-bottom: .25em;
}
main section ul{
    padding-bottom: .25em;
    padding-left: 1.25em;
}

main section li{
    padding-bottom: .35em;
}

a:hover, input[type=text]:focus{
    font-style: italic;
}

.shadow{
    text-shadow: 1px 1px #800000;
}
/* the styles for the footer */
footer{
    border: 3px solid #931420;
    background-color: #931420;
    clear:right;
}
footer p{
    text-align: center;
    color:white;
}

section{
    width:65.625%;
    float:right;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

aside{
    width:26.875%;
    float:right;
    padding-left: 2.5%;
    padding-bottom: 20px;

}

#nav_menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#nav_menu ul li{
    float:left;
    width:20%;
}

#nav_menu ul li a{
    display:block;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
    background-color: #800000;
    color:white;
    font-weight: bold;
}

#nav_menu a.current{
    color:yellow;
}

#nav_menu ul ul{
    width:100%;
    display: none;
    top:100%;
    position:absolute;

}

#nav_menu ul ul li{
    float: none;
}

#nav_menu ul li:hover > ul{
    display:block;
}

#nav_menu > ul::after{
    clear:both;
    display:block;
    content:"";

}

#submenu{

}

section li{
    list-style-type: circle;
}

#mobile_menu {
    display: none;
}

@media only screen and (max-width: 959px){
    section h1{
        font-size: 135%;
    }
    section h2, aside h2{
        font-size: 120%;
    }
}

@media only screen and (max-width: 767px){
    header img{
        float: none;
    }
    header{
        text-align: center;
    }
    section{
        float: none;
        width: 95%;
    }
    aside{
        float: none;
        padding-right: 2.5%;
        width: 95%;
    }
    article img{ max-width: 30%;
    }
    #speaker{
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
    #nav_menu{
        display: none;
    }
    #mobile_menu{
        display: block;
    }
    .slicknav_menu{
        background-color: #800000 !important;
    }
}

@media only screen and (max-width: 479px) {
    body { font-size: 90%; }
}